.wrapper {
	height: 100px;
	background-color: #000000bb;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 25px;
	position: absolute;
	bottom: 0;
    width: 100%;
}
